.container {
    width: 100%;
    height: 100px;

    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.box {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.input {
    width: 100%;
}

.input input {
    font-size: 14px;
}
